<tbody id="flows-table">
    <% flows.each do |flow| %>
        <% unless flow.archived? %>
            <tr class="odd:bg-white even:bg-slate-50 h-[60px]">
                <td class="px-4 text-center text-yellow-500">
                    <% if user_id.present? && flow.favorited == 1 %>
                        <%= button_to flow_favorites_path(flow), method: :delete, title: "Unfavorite" do %>
                            <i class="fas fa-star fa-xl"></i>
                        <% end %>
                    <% else %>    
                        <%= button_to flow_favorites_path(flow), method: :post, title: "Favorite" do %>
                            <i class="fa-regular fa-star fa-xl"></i>
                        <% end %>
                    <% end %>
                </td>
                <td class="px-4 align-middle"><%= flow.name %></td>
                <td class="px-4 align-middle"><%= flow.stream %></td>
                <td class="px-4 align-middle"><%= flow.location %>, <%= flow.state %></td>
                <td class="px-4 align-middle"><%= flow.flow %></td>
            </tr>
        <% end %>
    <% end %>
</tbody>