<tbody id="flows-table">
    <% flows.each do |flow| %>
        <% unless flow.archived? %>
            <tr class="odd:bg-white even:bg-slate-50 h-[60px]">
                <td class="px-4 text-center text-yellow-500">
                    <% if Current.user && Current.user.favorite_flows.include?(flow) %>
                        <%= button_to flow_favorites_path(flow), method: :delete, class: "your-button-class", title: "Unfavorite" do %>
                            <i class="fas fa-star fa-xl"></i>
                        <% end %>
                    <% else %>    
                        <%= button_to flow_favorites_path(flow), method: :post, class: "your-button-class", title: "Favorite" do %>
                            <i class="fa-regular fa-star fa-xl"></i>
                        <% end %>
                    <% end %>
                </td>
                <td class="px-4 align-middle"><%= link_to flow.name, flow, class: "text-blue-600 no-underline hover:underline" %></td>
                <td class="px-4 align-middle"><%= flow.stream %></td>
                <td class="px-4 align-middle"><%= flow.location %>, <%= flow.state %></td>
                <td class="px-4 align-middle"><%= flow.flow %></td>
            </tr>
        <% end %>
    <% end %>
</tbody>