<h1>Stream Flows</h1>

Our page has <%= Flow.public_count %> public streams and counting!

<table>
    <thead>
        <td>River</td>
        <td>Location</td>
        <td>Flow</td>
    </thead>
    <% @flows.each do |flow| %>
        <tr>
            <td><%= flow.name %></td>
            <td><%= flow.location %></td>
            <td><%= flow.flow %></td>
        </tr>
    <% end %>
</table>

<ul>
    <% @flows.each do |flow| %>
        <% unless flow.archived? %>
            <li>
                <%= link_to flow.name, flow %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Stream Flow", new_flow_path %>