<div class="container mx-auto flex flex-col prose">
<h1>Stream Flows</h1>

<% if Current.user %>
    Hello, <%= @user.email %>
<% end %>

<h2><%= Flow.public_count %> public streams and counting!</h2>

<table class="table-auto w-full">
    <thead class="bg-gray-50 border-b-2 border-gray-200">
        <td>River</td>
        <td>Location</td>
        <td>Flow</td>
    </thead>
    <% @flows.each do |flow| %>
        <tr class="odd:bg-white even:bg-slate-50">
            <td><%= flow.name %></td>
            <td><%= flow.location %></td>
            <td><%= flow.flow %></td>
        </tr>
    <% end %>
</table>
<hr>

<ul>
    <% @flows.each do |flow| %>
        <% unless flow.archived? %>
            <li>
                <%= link_to flow.name, flow %>
            </li>
        <% end %>
    <% end %>
</ul>


<%= link_to "New Stream Flow", new_flow_path %>
</div>