<section class="container mx-auto flex flex-col">

    <% if Current.user %>
        <p class="text-lg mb-3">Hello, <%= @user.email %></p>
    <% end %>

    <h1 class="text-4xl mb-3"></i>Stream Flows</h1>

    <h2 class="text-lg mb-3"><%= Flow.public_count %> public streams and counting!</h2>

    <table class="table-auto">
        <thead class="bg-gray-50 border-b-2 border-gray-200 h-[60px] font-bold">
            <td class="px-4 text-center">Favorite</td>
            <td class="px-4">Stream</td>
            <td class="px-4">Location</td>
            <td class="px-4">State</td>
            <td class="px-4">Flow</td>
        </thead>
        <tbody>
            <% @flows.each do |flow| %>
                <% unless flow.archived? %>
                    <tr class="odd:bg-white even:bg-slate-50 h-[60px]">
                        <td class="px-4 text-center text-yellow-500"><i class="fa-regular fa-star fa-xl"></i></i></td>
                        <td class="px-4 align-middle"><%= link_to flow.name, flow, class: "text-blue-600 no-underline hover:underline" %></td>
                        <td class="px-4 align-middle"><%= flow.location %></td>
                        <td class="px-4 align-middle"><%= flow.state %></td>
                        <td class="px-4 align-middle"><%= flow.flow %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    <hr>
    <%= link_to "Add Stream Flow", new_flow_path, class: "mt-[40px] w-[200px] text-center bg-blue-500 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded" %>

</section>