<h1><%= @flow.name %></h1>
<p><%= @flow.location %></p>
<p><%= @flow.flow %> cfs</p>
<ul>
    <li><%= link_to "Edit", edit_flow_path(@flow) %></li>
    <li><%= link_to "Destroy", flow_path(@flow),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>
