    <% streams.each do |stream| %>
        <div class="py-4 px-4 my-4 mx-4 border rounded-xl flex justify-between items-center odd:bg-white even:bg-gray-50">
            <span class="flex items-center">
            
            <%= render "components/buttons/favorite", 
                stream: stream,
                current_user: current_user, 
                is_favorited: current_user&.favorited_streams&.include?(stream) %>
            
            <span class="flex flex-col ml-2">
                <span class="text-md font-semibold">
                    <%= stream.stream_name %>
                    <%= stream.location %>
                </span>
                <span class="text-sm"><%= stream.watershed %>, <%= stream.state %></span>
            </span>
        </span>
        <span>126 cfs</span>
    </div>
<% end %>