<div class="bg-white p-4 rounded-md shadow-md w-[368px]">
    <img src="https://www.flyfishingcolorado.net/wp-content/uploads/2020/05/MG_2785JPG-scaled.jpg" alt="Colorado River" class="w-full h-[200px] object-cover mb-4">
    <h2 class="text-lg"><span class="font-bold"><%= flow.name %></span> <%= flow.stream %></h2>
    <p class="text-lg">Location: <%= flow.location %>, <%= flow.state %></p>
    <p class="text-lg">Flow: <%= flow.flow %> cfs</p>
    <a href="#" class="text-blue-500 mr-2">View Details</a>
    <a href="#" class="text-blue-500">Add to Favorites</a>
</div>