
<% if !flows.nil? %>
    <section class="bg-white p-2 rounded-md shadow-md w-[368px] mt-2">
        <% if flows.length > 0 %>
            <% flows.each do |flow| %>
                <div class="p-2 rounded-md hover:bg-gray-100 hover:cursor-pointer"
                    data-reflex="click->FlowSearchReflex#display_search_popup"
                    data-reflex-dataset="combined"
                    data-id="<%= flow.id %>">
                <!-- search result display_search_popup -->
                    <div class="flex items-center">
                        <i class="text-lg fa-solid fa-water text-blue-600 mr-2"></i>
                        <p class="text-lg mr-2"><%= flow.name %></p>
                        <p class="text-sm text-gray-500 mr-2"><%= flow.stream %></p>
                        <p class="text-sm text-gray-500"><%= flow.location %>, <%= flow.state %></p>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p class="text-lg text-gray-500">No results found</p>
        <% end %>
    </section>
<% end %>